apiVersion: v1
kind: Service
metadata:
  name: {{ app_name }}
  namespace: {{ namespace }}
  labels:
    app.kubernetes.io/name: {{ app_name }}
spec:
  type: {{ service_type }}
  selector:
    app.kubernetes.io/name: {{ app_name }}
  ports:
    - name: http
      port: 80
      targetPort: {{ container_port }}
